@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-outline-white {
  -webkit-text-stroke: 1px #fff;
}

.heading-outline-red {
  -webkit-text-stroke: 3px #be123c;
}

.width-auto {
  width: auto;
}

.bg-logo {
  background-image: url("/TAELogo.svg");
}
